@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}

:root {
  --blanco: #ffffff;
  --gris1: #f1f1f1;
  --rojo2: #DF1A22;
  --gris3: #2d1a1a;
  --negro: #000000;
  --headingFont: 'Raleway', sans-serif;
  --textFont: 'Roboto', sans-serif;
}

.header-mine{
background-color: var(--gris3);
}
.facebook{
  color: #3b5998;
}
.twitter{
  color: #00acee;
}
.youtube{
  color: #c4302b;
}
.instagram{
  /* background: #d6249f; */
  color: #3f729b
}

.logo-size-xs{
  font-size: 40px;
  margin: 0 5px;
}